[submodule "jupyter_notebook/tensorflow/deep-learning-with-python-notebooks"]
	path = jupyter_notebook/tensorflow/deep-learning-with-python-notebooks
	url = git@github.com:fchollet/deep-learning-with-python-notebooks.git
[submodule "jupyter_notebook/numpy_exercises/numpy-100"]
	path = jupyter_notebook/numpy_exercises/numpy-100
	url = git@github.com:rougier/numpy-100.git
[submodule "jupyter_notebook/numpy_exercises/numpy_exercises"]
	path = jupyter_notebook/numpy_exercises/numpy_exercises
	url = https://github.com/Kyubyong/numpy_exercises.git
[submodule "python/pytorch/tutorials"]
	path = python/pytorch/tutorials
	url = https://github.com/pytorch/tutorials.git
